<div class="relative w-full lg:h-[500px] h-[400px]">
    <img src="../../../../assets/images/footer.png" class="w-full h-full object-cover" alt="">
    <div class="w-full h-full absolute top-0 mix-blend-multiply bg-red-600"></div>
    <div class="lg:px-[135px] lg:py-[80px] sm:px-8 sm:py-8 px-1 py-1 absolute top-0">
        <div class="text-white text-4xl font-bold Kanit capitalize mb-3">Never miss an offer</div>
        <div class="Kanit text-white text-lg font-normal leading-normal mb-8">Subscribe and be the first to receive our exclusive offers.</div>
        <div class="cadre flex items-center justify-between mb-[32px]">
            <div class="text-white text-base font-normal Kanit leading-normal">Email Adress</div>
            <div class="w-8 h-px rotate-90 border border-slate-400"></div>
            <div class="text-white text-base font-normal Kanit leading-normal">Prefferd City of Dparture</div>
        </div>
        <div class="flex items-start justify-start mb-6">
            <input class="w-6 h-6 bg-white rounded border-none mr-2 cursor-pointer" type="checkbox">
            <div class="w-96">
                <span class="text-white text-xs font-bold Kanit leading-tight">I would like to get offers and new from Air Algerie. I have read and understood the </span>
                <span class="text-white text-xs font-bold Kanit underline leading-tight">Privacy Notice</span>
                <span class="text-white text-xs font-bold Kanit leading-tight">.</span>
            </div>
        </div>
        <button class="w-36 h-12 px-8 py-3 bg-white rounded-lg justify-start items-start gap-2.5 inline-flex text-red-600 text-lg font-bold Kanit leading-normal">
            Subscribe
        </button>
    </div>
</div>